.music-player__previous-btn {
    background: transparent;
    border: none;
    padding: 8px;
    fill: var(--font-gray);
    cursor: pointer;
}
.music-player__previous-btn:hover {
    fill: var(--font-white);
}
.music-player__previous-btn:active {
    fill: var(--font-gray);
}