.playlist__year {
    font-size: 0.875rem;
    font-weight: 400;
    margin-right: 10px;
}
.album__artists {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.album__artist {
    font-size: 0.875rem;
    font-weight: 400;
    margin-right: 5px;
    color: var(--font-white);
    text-decoration: none;
}
.album__artist:hover {
    text-decoration: underline;
}
.album__year {
    margin-right: 4px;
}
.decoration__dot {
    margin-right: 5px;
}
