.app {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-template-areas: "header main"
                         "player player";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}