@import url(fonts.css);
@import url(normalize.css);
@import url(variables.css);
@import url(../js/pages/playlist_page/playlist.css);
@import url(../js/components/user/user_btn.css);
@import url(../js/components/track_list/track_list.css);
@import url(../js/pages/album_page/album.css);
@import url(../js/pages/artist_page/artist.css);
@import url(../js/components/collection/collection.css);
@import url(../js/components/album_card/album_card.css);
@import url(../js/components/artist_card/artist_card.css);
@import url(../js/pages/main_page/main_page.css);
@import url(../js/pages/search_page/search_page.css);
@import url(../js/pages/category_page/category_page.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: var(--bg-main);
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-grayplus);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--font-gray);
}
html {                                      
    height: 100%;
    width: 100%;
    font-family: "Circular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #000000;
    color: var(--font-gray);
}
.app {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-template-areas: "header main"
                         "player player";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

/* static content */
/* header */
.header {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 24px 24px 0 24px;
    grid-area: header;
    background-color: var(--bg-header);
}
.header__logo-link {
    margin-bottom: 30px;
}
.header__navigation-list {
    list-style-type: none;
}
.header__navigation-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
    color: var(--font-gray);
    fill: var(--font-gray);
    transition: 0.4s;
}
.header__navigation-link:hover,
.header__navigation-link_active {
    fill: var(--font-white);
    color: var(--font-white);
}
.header__navigation-text {
    padding-left: 20px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 700;
}

/* main */
.main {
    position: relative;
    overflow-y: scroll;
    grid-area: main;
    background-color: var(--bg-main);
}
.main__top-panel {
    position: fixed;
    margin-right: 12px;
}

/* top-panel */
.top-panel {
    position: fixed;
    left: 220px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100%-220px);
    padding: 18px 16px;
    background-color: var(--bg-panel-o);
    z-index: 3;
}
.top-panel__control {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 10px;
}
.top-panel__control-btns {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 25px;
    min-width: 120px;
}
.top-panel__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    padding: 3px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--font-white);
    background-color: #000000;
    fill: white;
}
.top-panel__authorization {
    padding-right: 25px;
}
/* authorization-btn */
.authorization-btn {
    display: inline-block;
    padding: 8px 34px;
    border: none;
    border-radius: 500px;
    font-size: 0.875rem;
    letter-spacing: 1.76px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background-color: var(--font-white);
    color: var(--font-black);
    cursor: pointer;
}
.authorization-btn:hover {
    transform: scale(1.1);
}
.authorization-btn:active {
    transform: scale(1);
}

/* music player */
.music-player {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 90px;
    grid-area: player;
    background-color: var(--font-black);
    border-top: 1px solid #282828;
}
.music-player__controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}
.music-player__btns {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1px;
}
.music-player__previous-btn,
.music-player__next-btn {
    background: transparent;
    border: none;
    padding: 8px;
    fill: var(--font-gray);
}
.music-player__previous-btn:hover,
.music-player__next-btn:hover {
    fill: var(--font-white);
}
.music-player__previous-btn:active,
.music-player__next-btn:active {
    fill: var(--font-gray);
}
.music-player__play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border: none;
    border-radius: 50%;
    padding: 10px;
}
.music-player__play-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.music-player__play-btn:active {
    transform: scale(0.95);
}
.music-player__playback-container {
    position: relative;
    width: 600px;
}
.music-player__playback-bar {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: var(--bg-progress-bar);
    cursor: pointer;
}
.music-player__playback-clicker {
    position: absolute;
    top: 4px;
    left: 0;
    width: 600px;
    height: 4px;
}
.music-player__playback-bar::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
    color: var(--font-gray);
    margin-top: -1px;
}
.music-player__playback-bar::-webkit-slider-thumb {
    width: 6px;
    height: 6px;
    -webkit-appearance: none;
    cursor: pointer;
    background: white;
    box-shadow: -600px 0 0 600px var(--font-gray);
}
.music-player__playback-bar::-moz-range-progress {
    background-color: var(--font-gray); 
}
.music-player__playback-bar::-moz-range-track {  
    background-color: var(--bg-progress-bar);;
}
.music-player__playback-bar::-ms-fill-lower {
    background-color: var(--font-gray); 
}
.music-player__playback-bar::-ms-fill-upper {  
    background-color: var(--bg-progress-bar);;
}
.music-player__right-panel-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}
.music-player__current-tracklist-btn {
    margin-right: 10px;
    background: transparent;
    border: none;
    fill: var(--font-gray);
}
.music-player__current-tracklist-btn:hover {
    fill: var(--font-white);
}
.music-player__volume-bar-btn {
    margin-right: 10px;
    background: transparent;
    border: none;
    fill: var(--font-gray);
}
.music-player__volume-bar-btn:hover {
    fill: var(--font-white);
}
.music-player__volume-bar-input {
    overflow: hidden;
    width: 100px;
    -webkit-appearance: none;
    background-color: var(--bg-progress-bar);
    cursor: pointer;
}
.music-player__volume-bar-input::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
    color: var(--font-gray);
    margin-top: -1px;
}
.music-player__volume-bar-input::-webkit-slider-thumb {
    width: 6px;
    height: 6px;
    -webkit-appearance: none;
    cursor: pointer;
    background: white;
    box-shadow: -100px 0 0 100px var(--font-gray);
}
.music-player__volume-bar-input::-moz-range-progress {
    background-color: var(--font-gray); 
}
.music-player__volume-bar-input::-moz-range-track {  
    background-color: var(--bg-progress-bar);;
}
.music-player__volume-bar-input::-ms-fill-lower {
    background-color: var(--font-gray); 
}
.music-player__volume-bar-input::-ms-fill-upper {  
    background-color: var(--bg-progress-bar);;
}
.music-player__stop-img {
    display: none;
}
.mute__on {
    display: none;
    cursor: pointer;
}
.mute__off {
    display: block;
    cursor: pointer;
}
.music-player__current-tracklist-img {
    display: block;
}

/* dinamic content(components) */
/* nav-panel */
.nav-panel {
    display: none;
}
.nav-panel__list {
    display: flex;
    list-style-type: none;
}
.nav-panel__item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.nav-panel__item_active {
    background-color: var(--bg-gray);
}
.nav-panel__link {
    padding: 8px 13px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--font-white);
}

/* current-track */
.current-track {
    display: flex;
    align-items: center;
    width: 300px;
    flex-wrap: nowrap;
}
.current-track__img-container {
    margin-right: 20px;
}
.current-track__text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}
.current-track__name {
    font-size: .725rem;
    color: var(--font-white);
    font-weight: 200;
    letter-spacing: 0.125rem;
    line-height: 1rem;
}
.current-track__author {
    font-size: 0.688rem;
    color: var(--font-gray);
    font-weight: 400;
    letter-spacing: 0.125rem;
    line-height: 1rem;
}

/* genre-card */
.genre-card {
    position: relative;
    width: 182px;
    height: 182px;
    background-color: #777777;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}
.genre-card_theme_azure {
    background-color: #27855a; 
}
.genre-card_theme_dark-blue {
    background-color: #1e3264;
}
.genre-card_theme_light-blue {
    background-color: #477d95;
}
.genre-card_theme_violet {
    background-color: #8d67ab;
}
.genre-card_theme_light-red {
    background-color: #e8115b;
}
.genre-card_theme_red {
    background-color: #e61e32;
}
.genre-card__title {
    max-width: 100%;
    padding: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-white);
    overflow-wrap: break-word;
}
.genre-card__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: rotate(25deg) translate(18%,-2%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    object-fit: cover;
    object-position: center center;
}

/* search */
.search {
    display: none;
    position: relative;
    width: 364px;
}
.search__input {
    width: 100%;
    padding: 8px 48px;
    border: none;
    border-radius: 500px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 200;
    color: #000000;
    text-overflow: ellipsis;
    outline: none;
}
.search__img-container {
    position: absolute;
    left: 12px;
    top: 4px;
}
.search__clear-btn {
    position: absolute;
    right: 12px;
    top: 4px;
    background-color: transparent;
    border: 0;
    color: #121212;
    padding: 0;
}

/* track */
.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1580px;
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    transition: .1s;
    cursor: pointer;
}
.track:hover {
    background-color: var(--bg-panel);
}
.track__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    overflow: hidden;
}
.track__text {
    flex-grow: 1;
}
.track__name {
    margin-bottom: 4px;
    color: var(--font-white);
    font-weight: 700;
}
.track__author {
    color: var(--font-gray);
    font-size: 0.875rem;
    font-weight: 400;
}
/* play-button */
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--font-green);
}
.play-button:hover {
    transform: scale(1.05);
}
.play-button:active {
    transform: scale(.95);
}