@import url(fonts.css);
@import url(normalize.css);
@import url(variables.css);
@import url(../js/pages/playlist_page/playlist.css);
@import url(../js/components/user/user_btn.css);
@import url(../js/components/track_list/track_list.css);
@import url(../js/pages/album_page/album.css);
@import url(../js/pages/artist_page/artist.css);
@import url(../js/components/collection/collection.css);
@import url(../js/components/album_card/album_card.css);
@import url(../js/components/artist_card/artist_card.css);
@import url(../js/pages/main_page/main_page.css);
@import url(../js/pages/search_page/search_page.css);
@import url(../js/pages/category_page/category_page.css);
@import url(../js/components/player/player.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: var(--bg-main);
}
::-webkit-scrollbar-thumb {
    background-color: var(--font-grayplus);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--font-gray);
}
html {                                      
    height: 100%;
    width: 100%;
    font-family: "Circular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #000000;
    color: var(--font-gray);
}
.app {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-template-areas: "header main"
                         "player player";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}

/* static content */
/* header */
.header {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 24px 24px 0 24px;
    grid-area: header;
    background-color: var(--bg-header);
}
.header__logo-link {
    margin-bottom: 30px;
}
.header__navigation-list {
    list-style-type: none;
}
.header__navigation-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
    color: var(--font-gray);
    fill: var(--font-gray);
    transition: 0.4s;
}
.header__navigation-link:hover,
.header__navigation-link_active {
    fill: var(--font-white);
    color: var(--font-white);
}
.header__navigation-text {
    padding-left: 20px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 700;
}

/* main */
.main {
    position: relative;
    overflow-y: scroll;
    grid-area: main;
    background-color: var(--bg-main);
}
.main__top-panel {
    position: fixed;
    margin-right: 12px;
}
.main-container {
    height: 50%;
}

/* top-panel */
.top-panel {
    position: fixed;
    left: 220px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100%-220px);
    padding: 18px 16px;
    background-color: var(--bg-panel-o);
    z-index: 3;
}
.top-panel__control {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 10px;
}
.top-panel__control-btns {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 25px;
    min-width: 120px;
}
.top-panel__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    padding: 3px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--font-white);
    background-color: #000000;
    fill: white;
}
.top-panel__authorization {
    padding-right: 25px;
}
/* nav-panel */
.nav-panel {
    display: none;
}
.nav-panel__list {
    display: flex;
    list-style-type: none;
}
.nav-panel__item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.nav-panel__item_active {
    background-color: var(--bg-gray);
}
.nav-panel__link {
    padding: 8px 13px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--font-white);
}

/* search */
.search {
    display: none;
    position: relative;
    width: 364px;
}
.search__input {
    width: 100%;
    padding: 8px 48px;
    border: none;
    border-radius: 500px;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 200;
    color: #000000;
    text-overflow: ellipsis;
    outline: none;
}
.search__img-container {
    position: absolute;
    left: 12px;
    top: 4px;
}
.search__clear-btn {
    position: absolute;
    right: 12px;
    top: 4px;
    background-color: transparent;
    border: 0;
    color: #121212;
    padding: 0;
}
.search__clear-btn {
    cursor: pointer;
}
/* play-button */
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--font-green);
}
.play-button:hover {
    transform: scale(1.05);
}
.play-button:active {
    transform: scale(.95);
}
/* error */
.error__container {
    position: relative;
    width: 100%;
    height: 80%;
}
.error {
    max-width: 500px;
    padding: 20px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid #461d1d79;
    border-radius: 10px;
    text-align: center;
    background-color: var(--bg-main);
}
.error__title {
    margin: 0;
    margin-bottom: 25px;
}
.error__description {
    margin-bottom: 15px;
}
.error__redirect-link {
    color: var(--font-green);
}
.error__list {
    padding: 10px;
    font-weight: 200;
    text-decoration: none;
    list-style: none;
    text-align: start;
    color: var(--font-green);
}
.error__list-item {
    color: var(--font-grayplus);
}

