<div class="collection__img-container">
    <img class="collection__img" src="" alt="" width="150" height="150">
</div>
<div class="collection__text">
    <h3 class="collection__title"></h3>
    <p class="collection__description"></p>
</div>
